<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <LINK REL=StyleSheet HREF="./styles-taller2.css" TYPE="text/css" MEDIA=screen>
</head>
<body>
    <header class="barra">
               
                    <div class="barra__arriba">
                        
                            <img class="logo" src="imagenes/logo.png" >
                        <!---<input type="text" placeholder="Buscar">-->
                        <input class="text" type="text" placeholder="Buscar">
                    </div>
                    <div class="barra__navegador">
                            <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">¿Quienes somos?</a></li>
                            <li><a href="#">Productos</a></li>
                            <li><a href="#">¡Aprende!</a></li>
                            
                        </ul>
                        
                            </div>
            
            </header>
</body>
</html>