<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tejidos Patuka</title>
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/tienda.css">
    <link rel="stylesheet" href="styles/footer.css">
</head>

<body>
    <header class="barra">

        <div class="barra__logo">
            <img class="logo" src="imagenes/logo.png">
        </div>

        <div class="barra__icono">
            <img alt="Icono" src="imagenes/iconos/bars.svg">
        </div>

        <div class="barra__navegador">
            <a href="/">Home</a>
            <a href="#">¿Quienes somos?</a>
            <a class="barra__navegador-activo" href="/tienda">Tienda</a>
            <a href="#">¡Aprende!</a>
            <input type="text" placeholder="¿Que estas buscando?">
        </div>
    </header>

    <section class="tienda">
        <article class="tienda__filter">
            <article class="tienda__filter__content">

            <h1 class="tienda__filter__content__title">FILTRAR</h1>

            <div class="tienda__filter__content__item">
                <div class="tienda__filter__content__item__title">
                    <h1>Color</h1>
                </div>

                <div class="tienda__filter__content__item__content">
                    <p>Verde</p>
                    <p>Blanco</p>
                    <p>Colorido</p>
                </div>

            </div>

            <div class="tienda__filter__content__item">
                <div class="tienda__filter__content__item__title">
                    <h1>Tamaño</h1>
                </div>

                <div class="tienda__filter__content__item__content">
                    <p>Pequeño</p>
                    <p>Mediano</p>
                    <p>Grande</p>
                </div>
            </div>

            <div class="tienda__filter__content__item">
                <div class="tienda__filter__content__item__title">
                    <h1>Textura</h1>
                </div>

                <div class="tienda__filter__content__item__content">
                    <p>Suave</p>
                    <p>Duro</p>
                </div>
                
            </div>
         </article>

        </article>

        <article class="tienda__content">
            
            <section class="filters">
                <article class="filters__content">
                    <p><strong>Ordenar por: </strong></p>
                    <p>Menor a mayor precio</p>
                    <p>Producto</p>
                    <p>Tendencia</p>
                </article>

                <article class="filters__car">
                    <div class="filters__car__content">
                        <img alt="Icono" src="imagenes/iconos/shopping-cart.svg">
                        <p>Carrito ( <span>0</span> ) </p>
                    </div>
                </article>
            </section>

            <article class="tienda__content__items">

                <div class="tienda__content__items__item">
                    <div class="tienda__content__items__item__img">
                        <img src="imagenes/mujerF.png" alt="Producto">
                    </div>
                    <p>Nombre del producto</p>
                </div>

                <div class="tienda__content__items__item">
                    <div class="tienda__content__items__item__img">
                        <img src="imagenes/mujerF.png" alt="Producto">
                    </div>
                    <p>Nombre del producto</p>
                </div>

                <div class="tienda__content__items__item">
                    <div class="tienda__content__items__item__img">
                        <img src="imagenes/mujerF.png" alt="Producto">
                    </div>
                    <p>Nombre del producto</p>
                </div>
                
                <div class="tienda__content__items__item">
                    <div class="tienda__content__items__item__img">
                        <img src="imagenes/mujerF.png" alt="Producto">
                    </div>
                    <p>Nombre del producto</p>
                </div>
                
                <div class="tienda__content__items__item">
                    <div class="tienda__content__items__item__img">
                        <img src="imagenes/mujerF.png" alt="Producto">
                    </div>
                    <p>Nombre del producto</p>
                </div>
                <div class="tienda__content__items__item">
                    <div class="tienda__content__items__item__img">
                        <img src="imagenes/mujerF.png" alt="Producto">
                    </div>
                    <p>Nombre del producto</p>
                </div>
                <div class="tienda__content__items__item">
                    <div class="tienda__content__items__item__img">
                        <img src="imagenes/mujerF.png" alt="Producto">
                    </div>
                    <p>Nombre del producto</p>
                </div>
                <div class="tienda__content__items__item">
                    <div class="tienda__content__items__item__img">
                        <img src="imagenes/mujerF.png" alt="Producto">
                    </div>
                    <p>Nombre del producto</p>
                </div>
                <div class="tienda__content__items__item">
                    <div class="tienda__content__items__item__img">
                        <img src="imagenes/mujerF.png" alt="Producto">
                    </div>
                    <p>Nombre del producto</p>
                </div>

                <div class="tienda__content__items__item">
                    <div class="tienda__content__items__item__img">
                        <img src="imagenes/mujerF.png" alt="Producto">
                    </div>
                    <p>Nombre del producto</p>
                </div>
                <div class="tienda__content__items__item">
                    <div class="tienda__content__items__item__img">
                        <img src="imagenes/mujerF.png" alt="Producto">
                    </div>
                    <p>Nombre del producto</p>
                </div>

                <div class="tienda__content__items__item">
                    <div class="tienda__content__items__item__img">
                        <img src="imagenes/mujerF.png" alt="Producto">
                    </div>
                    <p>Nombre del producto</p>
                </div>
            </article>
            

        </article>
    </section>

    <footer class="footer">
        
        <div class="footer__logo">
            <img class="logo" src="imagenes/logo.png">
        </div>

        <div class="footer__text">
            <p>Información de la empresa</p>
            <p>¡Quiero aprender!</p>
            <p>Contáctanos</p>
            <p>Ubicación</p>
        </div>
    </footer>

</body>

</html>