<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
     <header class="barra">
               
                    <div class="barra__arriba">
                        
                            <img class="logo" src="imagenes/logo.png" >
                        <!---<input type="text" placeholder="Buscar">-->
                        <input class="text" type="text" placeholder="Buscar">
                    </div>
                    <div class="barra__navegador">
                            <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">¿Quienes somos?</a></li>
                            <li><a href="#">Productos</a></li>
                            <li><a href="#">¡Aprende!</a></li>
                            
                        </ul>
                        
                            </div>
            
            </header>

            <div class="order">
                <ul>
                    <li><a href="#">Menor a Mayor precio</a></li>
                    <li><a href="#">Producto</a></li>
                    <li><a href="#">Tendencia</a></li>
                </ul>
                <img class="order__car" src="imagenes/carrito.png" alt="">

            </div>
            <div class="filters">
                <img class="filters__img" src="imagenes/filtro.png" alt="">
                <h1 class="filters__filter">Filtro</h1>
                <h1 class="filters__color">Color</h1>
                <ul>
                    <li><a href="#">Azul</a></li>
                    <li><a href="#">Amarillo</a></li>
                    <li><a href="#">Blanco</a></li>
                    <li><a href="#">Colorido</a></li>
                </ul>
                <h1 class="filters__size">Tamaño</h1>
                <ul>
                    <li><a href="#">Pequeño</a></li>
                    <li><a href="#">Mediano</a></li>
                    <li><a href="#">Grande</a></li>
                </ul>
                <h1 class="filters__texture"></h1>
                <ul>
                    <li><a href="#">Suave</a></li>
                    <li><a href="#">Duro</a></li>
                </ul>

            </div>

            <section class="products">
                <div class="products__img">
                    

                </div>

            </section>





</body>
</html>